<div class="presentation-body gradient">
  <div class="container-sm gradient-blue">
    <h1 class="text-center">ASAPark</h1>
      <br>
        <h3 class="text-center">Trouve ta place de parking</h3>
      <br>
      <div id="formulaire-adresse", data-controller="geocoder">
        <%= simple_form_for :search,  url: matches_path , :method => :get do |f| %>
          <%= f.input :query, :autofocus => true, input_html: { data: { geocoder_target: "address" } },
              wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } }  %>
          <%= f.submit "Search" %>
        <% end %>

      </div>

  </div>
  <%= link_to spots_path do %>
      <div class="text-center" style="margin-top: 30%;">
        <%= image_tag "logo_handicap_geolocal.jpg",  class: "link", alt: "Disabled", width: 100 %>
        <h2><strong>A proximité</strong></h2>
      </div>
  <% end %>
</div>
