<div class="presentation-body gradient">
  <div class="container-sm">

     <%= image_tag "logo_transparent.png", alt: "Logo ASAPark", width: 250 %>

        <h3 class="text-center" style="font-family: inherit; font-size: 28px"; >Ma place de parking
handicapé ASAP</h3>
      <br>
      <div class="mapboxgl-ctrl-geocoder">
      <%= simple_form_for :search, url: matches_path, method: "get" do |f|%>
      <%= f.input :address,  label: false, placeholder: "adresse", input_html: { data: { geocoder_target: "address" }, class: "d-none" },
              wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'] } } %>
      <%= f.button :submit, value: "Chercher", class: "btn btn-secondary" %>
      <% end %>
      </div>
      <br>
<%= link_to spots_path do %>
      <div class="text-center">
        <%= image_tag "spot_handicap_purple.svg",  class: "link", alt: "Disabled", width: 100 %>
      </div>
  <% end %>
  </div>

</div>
